In [2]:
import os 
os.getcwd()

'C:\\Users\\sundooedu\\Downloads'

In [12]:
import pandas as pd
bc_card = pd.read_csv('./201901-202003.csv')

In [6]:
import sqlite3
conn = sqlite3.connect('jeju.db')
jeju.to_sql('jeju', conn, if_exists='replace')

In [13]:
bc_card

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [4]:
bc_card.columns

Index(['REG_YYMM', 'CARD_SIDO_NM', 'CARD_CCG_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM',
       'HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'CSTMR_CNT', 'AMT', 'CNT'],
      dtype='object')

In [8]:
bc_card['REG_YYMM'].value_counts()

201908    1880296
201905    1772237
201910    1751005
201909    1734914
201907    1721353
201906    1712696
201912    1674381
202001    1672889
201903    1668675
201904    1655655
201911    1652905
201901    1607032
201902    1594266
202002    1338980
202003    1260508
Name: REG_YYMM, dtype: int64

In [9]:
bc_card['CARD_SIDO_NM'].value_counts()

서울    6259502
경기    5188230
부산    2030810
인천    1278410
강원    1230355
경남    1222818
경북    1204831
충남    1178159
충북     834707
전북     829466
전남     819291
대구     758424
대전     523121
제주     497503
광주     432150
울산     322802
세종      87213
Name: CARD_SIDO_NM, dtype: int64

In [10]:
bc_card['CARD_CCG_NM'].value_counts()

중구     1185474
남구      512319
동구      509407
서구      501952
강서구     490111
        ...
청양군      13894
신안군      10296
울릉군      10210
봉화군       9841
영양군       5728
Name: CARD_CCG_NM, Length: 226, dtype: int64

In [11]:
bc_card['STD_CLSS_NM'].value_counts()

한식 음식점업                  3697166
체인화 편의점                  3210466
슈퍼마켓                     1630700
차량용 주유소 운영업              1613476
비알콜 음료점업                 1586120
기타 대형 종합 소매업             1495163
서양식 음식점업                 1404839
피자 햄버거 샌드위치 및 유사 음식점업    1351478
빵 및 과자류 소매업               989794
중식 음식점업                   698803
기타음식료품위주종합소매업             558716
기타 외국식 음식점업               556813
일식 음식점업                   539071
과실 및 채소 소매업               504479
스포츠 및 레크레이션 용품 임대업        466533
화장품 및 방향제 소매업             383713
택시 운송업                    381993
그외 기타 종합 소매업              351817
여관업                       334994
전시 및 행사 대행업               330569
육류 소매업                    327160
욕탕업                       259567
수산물 소매업                   255488
골프장 운영업                   236554
차량용 가스 충전업                218242
버스 운송업                    192281
일반유흥 주점업                  174081
호텔업                       155309
면세점                       144349
정기 항공 운송업                 115914
휴양콘도 운영업                  114921
건강보조식품 소매업                 83857
관광 민예품 및 선물용품 소매업          78793
기타 주점업                     73244
내항 여객 운송업                  72294
여행사업                       47446
자동차 임대업                    26024
마사지업                       17844
그외 기타 스포츠시설 운영업            11077
기타 수상오락 서비스업                6356
그외 기타 분류안된 오락관련 서비스업         288
Name: STD_CLSS_NM, dtype: int64

In [16]:
jeju = bc_card[bc_card['CARD_SIDO_NM'] == '제주']
jeju

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
1454855,201901,제주,서귀포시,건강보조식품 소매업,부산,사하구,50s,2,4,4,1900000,4
1454856,201901,제주,서귀포시,건강보조식품 소매업,인천,서구,50s,2,4,3,1300000,2
1454857,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,1,2,3,438000,3
1454858,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,2,2,4,552200,3
1454859,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,40s,1,2,3,908000,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24597421,202003,제주,제주시,휴양콘도 운영업,서울,노원구,50s,1,4,3,79500,3
24597422,202003,제주,제주시,휴양콘도 운영업,제주,제주시,30s,1,2,4,1656000,5
24597423,202003,제주,제주시,휴양콘도 운영업,제주,제주시,40s,1,3,3,304560,3
24597424,202003,제주,제주시,휴양콘도 운영업,제주,제주시,50s,2,4,4,60000,4
24597425,202003,제주,제주시,휴양콘도 운영업,제주,제주시,70s,2,5,3,657800,6

In [17]:
local_jeju = jeju[jeju['HOM_SIDO_NM'] == '제주']
local_jeju

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
1454857,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,1,2,3,438000,3
1454858,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,30s,2,2,4,552200,3
1454859,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,40s,1,2,3,908000,3
1454860,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,40s,1,3,3,1095000,4
1454861,201901,제주,서귀포시,건강보조식품 소매업,제주,서귀포시,40s,2,3,11,588850,11
...,...,...,...,...,...,...,...,...,...,...,...,...
24597418,202003,제주,제주시,화장품 및 방향제 소매업,제주,제주시,70s,2,5,136,11110710,153
24597422,202003,제주,제주시,휴양콘도 운영업,제주,제주시,30s,1,2,4,1656000,5
24597423,202003,제주,제주시,휴양콘도 운영업,제주,제주시,40s,1,3,3,304560,3
24597424,202003,제주,제주시,휴양콘도 운영업,제주,제주시,50s,2,4,4,60000,4
24597425,202003,제주,제주시,휴양콘도 운영업,제주,제주시,70s,2,5,3,657800,6

In [20]:
outsider_jeju = jeju[jeju['HOM_SIDO_NM'] != '제주']
outsider_jeju

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
1454855,201901,제주,서귀포시,건강보조식품 소매업,부산,사하구,50s,2,4,4,1900000,4
1454856,201901,제주,서귀포시,건강보조식품 소매업,인천,서구,50s,2,4,3,1300000,2
1454869,201901,제주,서귀포시,골프장 운영업,경기,고양시 일산동구,30s,2,2,3,469060,5
1454870,201901,제주,서귀포시,골프장 운영업,경기,고양시 일산동구,50s,1,4,3,916860,4
1454871,201901,제주,서귀포시,골프장 운영업,경기,광주시,60s,1,5,4,3409390,5
...,...,...,...,...,...,...,...,...,...,...,...,...
24597380,202003,제주,제주시,화장품 및 방향제 소매업,서울,강남구,30s,2,2,3,140000,4
24597381,202003,제주,제주시,화장품 및 방향제 소매업,서울,광진구,20s,2,1,3,38100,3
24597419,202003,제주,제주시,휴양콘도 운영업,경기,남양주시,40s,1,3,4,474800,4
24597420,202003,제주,제주시,휴양콘도 운영업,서울,강서구,50s,1,4,3,807100,4
24597421,202003,제주,제주시,휴양콘도 운영업,서울,노원구,50s,1,4,3,79500,3

In [28]:
bc_card.describe(include='all')

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
count,2.469779e+07,24697792,24610579,24697792,24697792,24550005,24697792,2.469779e+07,2.469779e+07,2.469779e+07,2.469779e+07,2.469779e+07
unique,NaN,17,226,41,17,226,7,NaN,NaN,NaN,NaN,NaN
top,NaN,서울,중구,한식 음식점업,경기,서구,40s,NaN,NaN,NaN,NaN,NaN
freq,NaN,6259502,1185474,3697166,6614016,707806,5802447,NaN,NaN,NaN,NaN,NaN
mean,2.019231e+05,NaN,NaN,NaN,NaN,NaN,NaN,1.412645e+00,2.804429e+00,6.196855e+01,2.441353e+06,1.260450e+02
std,3.619561e+01,NaN,NaN,NaN,NaN,NaN,NaN,4.923099e-01,1.375455e+00,3.559175e+02,1.726096e+07,9.669387e+02
min,2.019010e+05,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,3.000000e+00,2.000000e+01,1.000000e+00
25%,2.019040e+05,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,2.000000e+00,4.000000e+00,9.020000e+04,5.000000e+00
50%,2.019080e+05,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,3.000000e+00,8.000000e+00,2.526800e+05,1.200000e+01
75%,2.019110e+05,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+00,4.000000e+00,2.400000e+01,8.433372e+05,4.000000e+01
max,2.020030e+05,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+00,5.000000e+00,3.281300e+04,2.349524e+09,1.203570e+05

In [29]:
bc_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24697792 entries, 0 to 24697791
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   REG_YYMM      int64
 1   CARD_SIDO_NM  object
 2   CARD_CCG_NM   object
 3   STD_CLSS_NM   object
 4   HOM_SIDO_NM   object
 5   HOM_CCG_NM    object
 6   AGE           object
 7   SEX_CTGO_CD   int64
 8   FLC           int64
 9   CSTMR_CNT     int64
 10  AMT           int64
 11  CNT           int64
dtypes: int64(6), object(6)
memory usage: 2.2+ GB

In [32]:
bc_card.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3

In [ ]:
bc_card[['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM',
         'HOM_CCG_NM', 'AGE', 'SEX_CTGO_CD', 'FLC', 'CSTMR_CNT', 'CNT', 'AMT']